<div>
    <!--<img src="../../../assets/banner.png" id="banner"> -->    
</div>
      <!--Acá empieza la botonera lateral-->
      <div class="botonera">
        <a href="#personal"><img class="boton" src="../../../assets/personal.png" id="pers" onmousemove="enAmarillo1()" onmouseleave="enNegro1()" alt="informacion personal"> </a>
        <a href="#laboral"><img class="boton" src="../../../assets/laboral.png" id="labo" onmousemove="enAmarillo2()" onmouseleave="enNegro2()" alt="informacion laboral"> </a>
        <a href="#habilidades"><img class="boton" src="../../../assets/habilidades.png" id="habi" onmousemove="enAmarillo3()" onmouseleave="enNegro3()" alt="habilidades"> </a>
        <a href="#educacion"><img class="boton" src="../../../assets/estudios.png" id="estu" onmousemove="enAmarillo4()" onmouseleave="enNegro4()" alt="estudios"> </a>
    </div>    
    <body>
       
     <!--Acá empieza lo principal del CV-->
    <img src="../../../assets/personaFoto.png" class="perfil" align="right" width="140px"  >
    <div class="degrade">
        <div class="grilla">
    <div class="intro">
        <div class="nombres">AGUSTIN SARIO</div>
        <div class="bajada">Desarrollador Web</div>
        <div class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, 
            nunc non mattis vulputate, ante leo auctor mi, quis lacinia sem mauris ut dui. Vestibulum a dui malesuada 
            purus volutpat.</div>
  
            <a href="https://www.linkedin.com/in/agustin-sario-80313416"><img src="../../../assets/linke.png" id="linke"></a>     
            <a href="https://github.com/AgustinSario/ProyectoIntegrador_SarioAgustin.git"><img src="../../../assets/gitHub.png" id="gitHub"></a>    
    </div>
        
        </div>
    </div> <!--Acá termina lo principal del cv-->
                            <!--Acá empieza el contenido del CV-->  
    <div class="caja"  id="personal">
        <div class="titulo">Información Personal</div>
        <div class="text">    
            <ul>
                <li>Edad: 44</li>
                <li>Residencia: Corrientes</li>
                <li>Nacimiento: 08/02/78</li>
                <li>Nacionalidad: Argentina</li>
                <li>Telefono: 11-111111111111</li>
                <li>E-mail: sario.agustin@gmail.com</li>
            </ul>
        </div>
    </div>
        
    <div class="caja" id="laboral">
        <div class="titulo">Experiencia Laboral</div>
        <div class="text">    
            <ul>
                <li>2010  /Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
                <li>2015  / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
                <li>2019  / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
                <li>2021 - Act. / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
            </ul>
        </div>
    </div>
        
    <div class="caja" id="habilidades">
        <div class="titulo">Habilidades</div>
        <div class="text">    
            <ul>
                <li>Genexus</li>
                <li>Genexus Mobile</li>
                <li>SQL</li>
                <li>C#</li>
            </ul>
        </div>
    </div>
    
    <div class="caja" id="educacion">
        <div class="titulo">Estudios</div>
        <div class="text">    
            <ul>
                <li>2010  /Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
                <li>2015  / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
                <li>2019  / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
                <li>2021 - Act. / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt</li>
            </ul>
        </div>
    </div>
    <div class="vacio"></div>